.networks__item {
  width: 1.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color);
}

.networks__item--mtn {
  --color: hsl(45, 100%, 50%);
}

.networks__item--airtel {
  --color: hsl(0, 84%, 52%);
}

.networks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

.codes__list-item {
  position: relative;
  background-color: hsla(0, 0%, 100%, 0);
  padding: 1rem;
  padding-top: 2.25rem;

  border-radius: 0.5rem;
  border: 0.15rem solid var(--text-color);
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: translateY(0.5rem);
  }

  a {
    color: var(--secondary-color);
    transition: color 0.25s ease-in-out;

    &:hover {
      color: var(--primary-color);
    }
  }
}

#codes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem 1rem;
}
