---
import Layout from '../layouts/Layout.astro';
---

<Layout title="New Code" showSearch={false}>
  <form>
    <label for="code">Code</label>
    <input type="text" id="code" name="code" required />
    <small style="display: none;" id="error">
      May be code is invalid or it already exist!
    </small>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required />
    <label for="description">Description</label>
    <input type="text" name="description" id="description" />

    <label for="MTN">
      <input type="checkbox" name="MTN" id="MTN" />
      MTN
    </label>
    <label for="Airtel">
      <input type="checkbox" name="Airtel" id="Airtel" />
      Airtel
    </label>

    <button><i class="fa-solid fa-paper-plane"></i> Submit</button>
  </form>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  button {
    width: fit-content;
    align-self: flex-end;
  }
</style>

<script>
  import { actions } from 'astro:actions';
  document.querySelector('form')?.addEventListener('submit', handleSubmit);

  async function handleSubmit(e: SubmitEvent) {
    e.preventDefault();
    const formEl = e.target as HTMLFormElement;
    const formData = new FormData(formEl);

    const { error } = await actions.codes.new(formData);

    if (error) {
      const codeEl = document.getElementById('code');
      const smallEl = document.getElementById('error');

      if (codeEl && smallEl) {
        smallEl.innerText = 'Error';
        codeEl.ariaInvalid = 'true';
        smallEl.style.display = 'block';
        codeEl.focus();
      }
    } else {
      document.location = '/current-codes';
    }
  }
</script>
