---
import { getSearchResults } from '../appwrite';
import CodesWrapper from '../components/CodesWrapper.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = false;
const query = Astro.url.searchParams.get('query');

if (!query) return Astro.redirect('/');
const codes = await getSearchResults(query);
---

<Layout title={query}>
  <h1>{codes.total ? 'Results for' : 'Nothing matches'} "{query}"</h1>
  <CodesWrapper {codes} />
</Layout>
