<form id="contact-form">
  <h2>Contact us</h2>

  <label for="subject">Subject</label>
  <input
    type="text"
    name="subject"
    id="subject"
    placeholder="Enter a subject"
  />
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Type here"></textarea>

  <div>
    <button>
      <i class="fa-solid fa-paper-plane"></i>
      Send
    </button>
  </div>
</form>

<style>
  div {
    display: flex;
    justify-content: flex-end;
  }
</style>

<script>
  const form = document.querySelector('#contact-form');
  const subject = form?.querySelector(
    'input[name="subject"]'
  ) as HTMLInputElement;
  const message = form?.querySelector(
    'textarea[name="message"]'
  ) as HTMLTextAreaElement;

  form?.addEventListener('submit', (e) => {
    e.preventDefault();

    document.location = `mailto:obed6@duck.com?subject=${subject.value}&body=${message.value}`;
  });
</script>
