<form>
  <h2>Contact us</h2>

  <label for="email">Email</label>
  <input type="email" name="email" id="email" placeholder="Enter your email" />
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Enter your message"
  ></textarea>

  <div>
    <button>
      <i class="fa-solid fa-paper-plane"></i>
      Send
    </button>
  </div>
</form>

<style>
  div {
    display: flex;
    justify-content: flex-end;
  }
</style>
