---
const today = new Date();
const currentYear = today.getFullYear();
---

<footer>
  <span>
    &copy; {currentYear} NIYOMUGISHA Obed
  </span>

  <div>
    <a href="https://instagram.com/obedniyomugisha71" target="_blank"
      ><i class="fa-brands fa-instagram"></i></a
    >
    <a href="https://x.com/obed_niyomugish" target="_blank"
      ><i class="fa-brands fa-x-twitter"></i></a
    >
    <a href="https://github.com/obed2025" target="_blank"
      ><i class="fa-brands fa-github"></i></a
    >
  </div>
</footer>

<style>
  div {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }

  i {
    font-size: 2rem;
  }
</style>
