<section>
  <div>
    <h1>WELCOME TO USSD 250!</h1>
    <p>
      <span class="pico-color-jade-400">USSD 250</span>
      Is a website for most used
      <span class="pico-color-jade-500">ussd codes in Rwanda</span>. Not only
      ussd codes but also any important codes like emergency numbers, etc.
    </p>
    <p>
      Any one can view and add ussd codes to this website. But, inorder to make
      usdd codes added to this site more secure no one can edit or delete any
      code from this site except admin.
    </p>
    <div class="btns-container">
      <a role="button" href="/current-codes">
        <i class="fa-solid fa-eye"></i>
        View current codes
      </a>
      <a role="button" class="secondary" href="/new">
        <i class="fa-solid fa-plus"></i>
        Add a new one
      </a>
    </div>
  </div>
  <video src="/hero.mp4" autoplay loop muted></video>
</section>

<style>
  section {
    display: grid;
    --min: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
    gap: 2rem;
  }

  video {
    max-width: 100%;
    border-radius: 0.5rem;
  }

  .btns-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    a {
      flex-grow: 1;
    }
  }

  @media (width < 22rem) {
    section {
      --min: 10rem;
    }
  }
</style>
