---
import HeroBtns from './HeroBtns.astro';
---

<section>
  <div>
    <h1>WELCOME TO USSD 250!</h1>
    <p>
      <span class="pico-color-jade-400">USSD 250</span>
      Is a website for most used
      <span class="pico-color-jade-500">ussd codes in Rwanda</span>. Not only
      ussd codes but also any important codes like emergency numbers, etc.
    </p>
    <p>
      Any one can view and add ussd codes to this website. But, inorder to make
      ussd codes added to this site more secure no one can edit or delete any
      code from this site except admin.
    </p>
    <HeroBtns />
  </div>
  <video src="/hero.mp4" autoplay loop muted></video>
</section>

<style>
  section {
    display: grid;
    --min: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
    gap: 2rem;
  }

  video {
    max-width: 100%;
    border-radius: 0.5rem;
  }

  @media (width < 22rem) {
    section {
      --min: 10rem;
    }
  }
</style>
