<div class="btns-container">
  <a role="button" href="/current-codes">
    <i class="fa-solid fa-eye"></i>
    View current codes
  </a>
  <a role="button" class="secondary" href="/new">
    <i class="fa-solid fa-plus"></i>
    Add a new one
  </a>
</div>

<style>
  .btns-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    a {
      flex-grow: 1;
    }
  }
</style>
