---
import type { Models } from 'appwrite';
import type { Code } from '../types';

const res = await fetch(new URL('/api/codes', Astro.url));
const codes: Models.DocumentList<Code & Models.Document> = await res.json();

const { total } = codes;
const mtn = codes.documents.filter((code) => code.MTN).length;
const airtel = codes.documents.filter((code) => code.Airtel).length;
---

<section>
  <h1>{total} Codes</h1>
  <h1 class="pico-color-yellow-300">{mtn} MTN Codes</h1>
  <h1 class="pico-color-red-500">{airtel} Airtel Codes</h1>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
  }
</style>
