---
import StatsTotal from './StatsTotal.astro';
import StatsFallback from './StatsFallback.astro';
---

<section>
  <h1>
    <StatsTotal server:defer>
      <StatsFallback slot="fallback" />
    </StatsTotal>
    Total Codes
  </h1>
  <h1 class="pico-color-yellow-300">
    <StatsTotal server:defer network="mtn">
      <StatsFallback slot="fallback" />
    </StatsTotal>
    MTN Codes
  </h1>
  <h1 class="pico-color-red-500">
    <StatsTotal server:defer network="airtel">
      <StatsFallback slot="fallback" />
    </StatsTotal>
    Airtel Codes
  </h1>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
