---
import '@fontsource-variable/roboto';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fortawesome/fontawesome-free/css/all.css';
import SearchBox from '../components/SearchBox.astro';

interface Props {
  title?: string;
}

const { title = 'Home' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>USSD 250 - {title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />
  </head>
  <body class="container">
    <Header />
    <main>
      {Astro.url.pathname !== '/new' && <SearchBox />}
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    --pico-font-family: 'Roboto Variable', sans-serif;
    position: relative;
  }

  html,
  body {
    overflow-x: hidden;
    min-height: 100dvh;
  }
</style>
